$small: 450px;
$s-tablet: 768px;
$m-tablet: 1024px;
$tablet: 1280px;
$medium: 1440px;
$large: 99999px;

$red: rgb(241, 57, 57);

@mixin xss-down {
    @media only screen and (max-width: $small) {
        @content;
    }
}

@mixin xs-down {
    @media only screen and (max-width: $s-tablet) {
        @content;
    }
}

@mixin sm-down {
    @media only screen and (max-width: $m-tablet) {
        @content;
    }
}

@mixin md-down {
    @media only screen and (max-width: $tablet) {
        @content;
    }
}

@mixin lg-down {
    @media only screen and (max-width: $medium) {
        @content;
    }
}