$font-main: 'Lato', sans-serif;
$font-heading: 'Oswald', sans-serif;

$xs: 768px;
$sm: 1024px;
$md: 1280px;
$lg: 1440px;

@mixin xs-down {
    @media only screen and (max-width: $xs) {
        @content;
    }
}

@mixin sm-down {
    @media only screen and (max-width: $sm) {
        @content;
    }
}

@mixin md-down {
    @media only screen and (max-width: $md) {
        @content;
    }
}

@mixin lg-down {
    @media only screen and (max-width: $lg) {
        @content;
    }
}

.heading {
    @apply font-light tracking-widest uppercase text-center leading-relaxed;
}

.section-heading {
    @apply font-light text-2xl lg:text-4xl tracking-widest uppercase leading-relaxed;
}

.link-hover {
    @apply hover:opacity-50 transition-opacity duration-300;
}

.section-top-offset {
    @apply mt-8 lg:mt-16;
}

.inner-top-offset {
    @apply mt-4 lg:mt-8;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

[class*='copyrights-promo'],
[class*='copyrights'] {
    display: none !important;
}
